package layouts

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>Go - WEB</title>
			<link rel="stylesheet" href="/static/css/output.css"/>
			<script src="/static/js/hmtx.min.js"></script>
			<script src="/static/js/hyperscript.min.js"></script>
		</head>
		<body hx-boost="true" class="bg-slate-50 overflow-hidden">
			{ children... }
		</body>
	</html>
}
